<nav>
    <div class="site-title">

        <a href="/">
            <h1>Blog Roshan</h1>
        </a>
        <p>A roshan hero site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>